<h1> character </h1>

{% block character %}

<h2> El personaje con id {{id}} </h2>

<section>
    <h3> Personaje: {{character.name}} </h3>
    <P>  Planeta: {{character.planet}}</P>
</section>

{% endblock %}